name: Code quality

on:
  pull_request:
    paths:
      - 'src/**'

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Biome
        uses: biomejs/setup-biome@v1
        with:
          version: 1.5.3
      - name: Run Biome
        run: biome ci .
